@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.CardMembros {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: none;
    font-family: 'Montserrat', sans-serif;
}

.CardMembros .foto{
    background-color: #F2B32B;
    border-radius: 25px;
    width: 100%;
    height: 80%;
}

.CardMembros .membro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardMembros .membro .nome{
    color: #003057;
    font-size: 18px;
}

.CardMembros .membro .cargo{
    color: #003057;
    font-size: 13px;
}