.dados-section {
    padding: 1.5vw 5vw 2vw 5vw;
    margin: 5vw 0px 7vw 0px;
    display: flex;
    background-color: #003057;
    justify-content: space-around;
    /* gap: 7vw; */
}


.texto-experiencia {
    margin-top: 5px;
}

.dados {
    color: #F2B32B;
    padding: 2vw 0.5vw 2vw 0.5vw;
    border-radius: 1vw;
    text-align: center;
    justify-content: center;
    min-width: 25vw;
    font-family: "Montserrat", sans-serif;
}

.dados-titulo {
    font-size: 2.2vw;
    font-weight: bold;
}

.dados-texto {
    margin-top: 5px;
    font-size: 3.5vw;
    font-weight: 900;
}

@media (max-width: 767px) {
    .dados-titulo {
        font-size: 3vw;
    }

    .dados-texto {
        font-size: 4vw;
    }
}