@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap');

.QuemSomos {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 70px;
    height: 350px;
    padding: 0 5em;
    margin: 100px 0;
}

.QuemSomos .box-img{
    width: 350px;
    /* padding-bottom: 10px; */
}

.QuemSomos .box-img img{
    width: 100%;
    height: 100%;
}

.QuemSomos .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 46vw;
}

.QuemSomos .content .titulo{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #F2B32B;
    font-size: 26px;
}

.QuemSomos .content .descricao{
    font-family: 'Montserrat', sans-serif;
    color: #003057;
    font-size: 20px;
    line-height: 1.8;
}

.botao-quem-somos {
    margin-top: 20px;
    background-color: #F2B32B;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    color: #003057;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

@media(max-width: 1200px) {
    .QuemSomos {
        margin: 75px 0;
    }
}

@media(max-width: 1100px) {
    .QuemSomos .box-img {
        width: 300px;
    }
    .QuemSomos .content {
        width: 60%;
    }
    .QuemSomos .content .descricao {
        font-size: 18px;
    }
    .QuemSomos .content .titulo {
        font-size: 24px;
    }
}

@media(max-width: 1000px) {
    .QuemSomos {
        padding: 0 4em;
        height: 300px;
    }
    .QuemSomos .box-img {
        width: 275px;
    }
    .QuemSomos .content .descricao {
        font-size: 16px;
    }
}


@media(max-width: 900px) {
    .QuemSomos .content .titulo {
        font-size: 22px;
    }
    .QuemSomos .content .descricao {
        font-size: 14px;
    }
}

@media(max-width: 820px) {
    .QuemSomos .box-img {
        width: 250px;
    }
    .QuemSomos .content .descricao {
        font-size: 13px;
    }
}

@media(max-width: 768px) {
    .QuemSomos {
        gap: 50px;
        padding: 0 75px;
        flex-direction: column-reverse;
        align-items: center;
        margin: 35vw 0px 50vw 0px;
        /* height: 600px; */
    }
    .QuemSomos .content .titulo {
        font-size: 20px;
    }
    .QuemSomos .content {
        width: 100%;
        gap: 40px;
    }
    .QuemSomos .box-img {
        width: 60vw;
    }
    .QuemSomos .content .descricao {
        text-align: center;
        padding: 0 2em;
        font-size: 15px;
    }
}

@media(max-width: 550px) {
    .QuemSomos {
        padding: 0 40px;
    }
    .QuemSomos .content .titulo {
        font-size: 18px;
    }
    .QuemSomos .content .descricao {
        font-size: 13px;
    }
}

@media(max-width: 450px) {
    .QuemSomos .content .titulo {
        font-size: 16px;
    }
    .QuemSomos .content .descricao {
        font-size: 11px;
    }
}

@media(max-width: 370px) {
    .QuemSomos {
        padding: 0 25px;
    }
    .QuemSomos .content .titulo {
        font-size: 13px;
    }
}
